@model EntityLayer.WebDTO

@{
    ViewBag.Title = "Health Book";
}

<h2 class="text-center">Bienvenid&#64; @Model.activeUser.Name, como te sientes hoy?</h2>
<hr />
<style>
    .foregroundsize{
        font-size: 20px;
    }
</style>
<div class="foregroundsize">
    <a href="/web/dlc" class="text-center btn btn-info btn-block foregroundsize">Me duele la cabeza</a>
    <hr />
    <a href="/web/sed" class="text-center btn btn-info btn-block foregroundsize">Sed excesiva</a>
    <hr />
    <a href="/web/dlp" class="text-center btn btn-info btn-block foregroundsize">Dolor pelvico</a>
    <hr />
    <a href="/web/dec" class="text-center btn btn-info btn-block foregroundsize">Decaimiento</a>
    <hr />
    <a href="/web/vib" class="text-center btn btn-info btn-block foregroundsize">Vision borrosa</a>
    <hr />
</div>
@*
hacer una sumatoria de los valores que nesitamos para irlos acumulando en un acumulador donde podrsmos erterminar la categoia del problema del usuario.    
    dolor de cabeza
    vision borrosa
    decaimiento
    dolor pelvico
    dolor en el oido
    --*

*@
