
@{
    ViewBag.Title = "Posible caso de problemas de azucar";
}
<hr />
<h2 class="text-center">Posible caso de problemas de azucar</h2>
<hr />
<div id="image">
    <img src="~/Images/Diabetes.jpg" width="1100" height="500">
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p class="text-center centrartexto tamano">
    Seria mejor que acudas a un <b>Medico General o Medico Internista</b> que pueda realizar un diagnostico de tu situacion de salud actual.
    Una buena opcion seria acudir al HGPS - Hospital General Plaza de la Salud, y dirigirte al area de emergencias.
    <br />
    <br />
    Dirección:
    Av Ortega y Gasset, Santo Domingo
    <br />

    Numero de contacto: (809) 565-7477
</b>
<hr />
<a href="/web/pageindex" class="btn btn-primary btn-block text-center tamano">Volver al principio</a>
<hr />
<style>
    #image {
        position: absolute;
    }

    .centrartexto {
        text-align: center;
    }

    .tamano {
        font-size: 18px;
    }
</style>
