
@{
    ViewBag.Title = "Posible caso de Presion arterial baja";
}
<hr />
<h2 class="text-center">Posible caso de Presion arterial baja</h2>
<hr />
<div id="image">
    <img src="~/Images/PresionAlta.jpg" width="1100" height="500">
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p class="text-center centrartexto tamano">
    Seria mejor que acudas a un <b>Medico General o Cardiologo</b> que pueda realizar un diagnostico de tu situacion de salud actual.
    Una buena opcion seria acudir al HGPS - Hospital General Plaza de la Salud, y dirigirte al area de emergencias.
    <br />
    <br />
    Dirección:
    Av Ortega y Gasset, Santo Domingo
    <br />

    Numero de contacto: (809) 565-7477 
    <a href="https://www.google.com.do/maps/place/Hospital+General+Plaza+de+la+Salud/&#64;18.4884802,-69.9240093,17z/data=!4m9!1m2!2m1!1shgps!3m5!1s0x8eaf89b9a6689061:0x53787b650fd24be3!8m2!3d18.4887904!4d-69.9219151!15sCgRoZ3BzkgEIaG9zcGl0YWw?hl=es-419&authuser=0" target="_blank">Abrir mapa</a>
    </b>
    <hr />
    <a href="/web/pageindex" class="btn btn-primary btn-block text-center tamano">Volver al principio</a>
    <hr />
    <style>
        #image {
            position: absolute;
        }

        .centrartexto {
            text-align: center;
        }

        .tamano {
            font-size: 18px;
        }
    </style>
