<link rel="stylesheet" type="text/css" href="~/Styles/Styles.css" />
<body>
    @{
        ViewBag.Title = "Index";
    }

    @*<h2>Iniciar Sesion</h2>*@


    <div class="container" align="center">
        <div id="image">
            <img src="~/Images/Rectangle 2.png">
        </div>

        <div id="loginForm">
            <div id="logoimage">
                <br />
                <br />
                <img src="~/Images/Group 10.png">
                <br />  
                <br />  
                <br />  
            </div>
            <form action="/Ventas/Filtrar" class="">
                <input type="text" placeholder="Correo Electrónico" name="Nombre" class="text-field" />
                <br />
                <br />
                <input type="password" placeholder="Contraseña" name="Nombre" class="text-field " />
                <br />
                <br />
                Olvidaste tu contraseña? <a href="" class="">Restaurar Contraseña</a>
                <br />
                <br />
                <input type="submit" value="Iniciar Sesión" class="loginbutton" />
                <br />
            </form>

            <div>
                <img src="~/Images/Group 11.png">
            </div>

        </div>
    </div>

</body>